<a href="https://colab.research.google.com/github/nunchikochi/nunchikochi/blob/main/(2023_05_25_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 구구단 출력

In [1]:

for i in range(1,10):
    for j in range(1,10):
        print(f"{i}x{j}={i*j}")

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

2. 1부터 n까지 합

In [2]:
sum=0
number=int(input("자연수를 입력하세요."))

for i in range(1,number+1):
    sum=sum+i
print(sum)

자연수를 입력하세요.10
55

3. 1부터 n까지의 곱

In [3]:
times=1
number=int(input("자연수를 입력하세요."))

for i in range(1,number+1):
    times=times*i
print(times)

자연수를 입력하세요.10
3628800

4. 짝수 판정

In [4]:
number=int(input("수를 입력하세요."))
if number%2==0:
    print(f"{number}는 짝수입니다.")
else:
    print(f"{number}는 홀수입니다.")

수를 입력하세요.33
33는 홀수입니다.

5. 약수 찾기

In [8]:
number=int(input("자연수를 입력하세요."))
result=[]

for i in range(1,number+1):
    if number%i==0:
        result.append(i)
print(result)

자연수를 입력하세요.33
[1, 3, 11, 33]

6. 소수 판정

In [9]:
chk=1
n=int(input("수를 입력하세요."))
for i in range(2,int(n**0.5+1)):
	if n%i==0:
		chk=0
		break
if chk==1:
    print(n, ": 소수임")
else:
    print(n, ": 소수아님")

수를 입력하세요.55
55 : 소수아님